body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('greenbgm.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
    padding-top: 5vh;

}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding: 5px 0;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
    margin-top: 4px;
}